{% extends 'base.html' %}
{% load static %}

{% block meta_description %}{% endblock %}
{% block meta_keywords %} {% endblock %}
{% block titile %} درباره‌ما {% endblock %}

{% block body %}
	

	<div id="fh5co-about">
		<div class="col-md-6">
			<img class="img-responsive" src="{% static 'images/img_bg_2.jpg' %}" alt="Free HTML5 Bootstrap Template">
		</div>
		<div class="container" style="direction: rtl;">
			<div class="col-md-6 animate-box">
				<span>درباره‌ CodeCrafters</span>
				<h2>به مجموعه ما خوش آمدید</h2>
				<p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat cauctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per Mauris in erat justo.</p>
				<p>Nullam ac urna eu felis dapibus condimentum sit amet a augue. Sed non neque elit. Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed.</p>
				<p>Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat cauctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per Mauris in erat justo.</p>
			</div>
		</div>
		
	</div>

	<div id="fh5co-counter" class="fh5co-counters" style="background-image: url(images/img_bg_4.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row">
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<span class="icon"><i class="icon-world"></i></span>
							<span class="fh5co-counter js-counter" data-from="0" data-to="3297" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">دنبال کنندگان</span>
						</div>
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<span class="icon"><i class="icon-study"></i></span>
							<span class="fh5co-counter js-counter" data-from="0" data-to="3700" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">موضوعات آموزشی</span>
						</div>
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<span class="icon"><i class="icon-bulb"></i></span>
							<span class="fh5co-counter js-counter" data-from="0" data-to="5034" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">مباحث تکمیلی</span>
						</div>
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<span class="icon"><i class="icon-head"></i></span>
							<span class="fh5co-counter js-counter" data-from="0" data-to="1080" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">مدرسین علمی</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-contact">
		<div class="container">
			<div class="row">
				<div class="col-md-3"></div>
				<div class="col-md-6 animate-box">
					<h3 class="text-center">ارتباط با ما</h3>
					<form action="">
						{% csrf_token %}
						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="fname">First Name</label> -->
								<input type="text" name="name" id="name" class="form-control text-right" placeholder="نام">
							</div>
							
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="email">Email</label> -->
								<input name="email" type="text" id="email" class="form-control text-right" placeholder="ایمیل">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="subject">Subject</label> -->
								<input name="title" type="text" id="subject" class="form-control text-right" placeholder="عنوان">
							</div>
						</div>

						<div class="row form-group">
							<div class="col-md-12">
								<!-- <label for="message">Message</label> -->
								<textarea name="describe" id="message" cols="30" rows="10" class="form-control text-right" placeholder="موضوع"></textarea>
							</div>
						</div>
						<div class="form-group">
							<input  type="submit" value="ارسال پیام" class="btn btn-primary">
						</div>

					</form>		
				</div>
			</div>
			
		</div>
	</div>

{% endblock %}