{% extends 'base.html' %}
{% load static %}

{% block meta_description %}{% endblock %}
{% block meta_keywords %} {% endblock %}
{% block title %} درباره‌ما {% endblock %}

{% block body %}
	

	<div id="fh5co-about">
		<div class="col-md-6">
			<img class="img-responsive" src="{% static 'image/about.jpg' %}" alt="Free HTML5 Bootstrap Template">
		</div>
		<div class="container" style="direction: rtl;">
			<div class="col-md-6 animate-box">
				<span>درباره‌ CodeCrafters</span>
				<h1>به جامعه Code Crafters خوش آمدید!</h1>
				<p>
					Code Crafters یک جامعه فعّال از برنامه‌نویسان به همراه محوریت بر کیفیت کد و اشتراک تجربیات فنی است. 
					<br>
					<br>
					اعضای این جامعه از سرتاسر جهان، با هدف به ارتقاء دانش مشترک، حل مسائل برنامه‌نویسی، و ایجاد یک ارتباط فعّال در زمینه توسعه نرم‌افزار مشغول به فعالیت هستند.
				</p>
			
				<p>
					در Code Crafters، ما با افتخار به تفاوت‌های فردی و تخصص‌های متنوع اعضا احترام می‌گذاریم.
					<br>
					<br>
					این جامعه یک فرصت مناسب برای یادگیری مداوم، اشتراک دانش، و تبادل نظرات میان برنامه‌نویسان حرفه‌ای ارائه می‌دهد.
				</p>
			
				<p>
					ما در Code Crafters به ایجاد یک فضای دوستانه و انگیزشی برای توسعه حرفه‌ای هر برنامه‌نویس اعتقاد داریم.
					<br>
					<br>
					از شما دعوت می‌کنیم تا به جمع ما بپیوندید و با انرژی مثبت Code Crafters، توانمندی‌های خود را به اشتراک بگذارید.
				</p>
			
				<p>
					ما همیشه به دنبال جذب اعضای جدید و توسعه فعّال در این جامعه هستیم. 
					<br>
					<br>
					اگر علاقه‌مند به همکاری و یادگیری از هم‌برنامه‌نویسان هستید، ما منتظر حضور شما در Code Crafters هستیم.
				</p>
			</div>
		</div>
		
	</div>

	<div id="fh5co-counter" class="fh5co-counters" style="background-image: url(images/img_bg_4.jpg);" data-stellar-background-ratio="0.5">
		<div class="overlay text-center"><h3 style="color: white;">به ما بپیوندید</h3></div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row">
						<a href="https://github.com/CodeCrafters-ir">
							<div class="col-md-3 col-sm-6 text-center animate-box">
								<span class="icon"><i class="icon-github"></i></span>
								<span class="fh5co-counter js-counter" data-from="0" data-to="3297" data-speed="5000" data-refresh-interval="50"></span>
								<span class="fh5co-counter-label">Github</span>
							</div>
						</a>
						<a href="tg://resolve?domain=code_crafters">
							<div class="col-md-3 col-sm-6 text-center animate-box">
								<span class="icon"><i class="icon-telegram"></i></span>
								<span class="fh5co-counter js-counter" data-from="0" data-to="3700" data-speed="5000" data-refresh-interval="50"></span>
								<span class="fh5co-counter-label">Telegram</span>
							</div>
						</a>
						<a href="mailto:codecrafters.ir@gmail.com">
							<div class="col-md-3 col-sm-6 text-center animate-box">
								<span class="icon"><i class="icon-mail"></i></span>
								<span class="fh5co-counter js-counter" data-from="0" data-to="5034" data-speed="5000" data-refresh-interval="50"></span>
								<span class="fh5co-counter-label">Gmail</span>
							</div>
						</a>
						<a href="https://www.linkedin.com/in/codecrafters-ir/">
							<div class="col-md-3 col-sm-6 text-center animate-box">
								<span class="icon"><i class="icon-linkedin2"></i></span>
								<span class="fh5co-counter js-counter" data-from="0" data-to="1080" data-speed="5000" data-refresh-interval="50"></span>
								<span class="fh5co-counter-label">Linkedin</span>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}