{% extends 'base.html' %}
{% load static %}
		
{% block meta_description %} {{ object.search }} {% endblock %}
{% block meta_keywords %} {{ object.title }} {% endblock %}
{% block titile %} مدرس {% endblock %}



{% block head %} 

{% endblock %}


{% block body %}
<div id="fh5co-contact">
	<div class="container">
		<div class="row">
			<div class="col-md-8 animate-box">
				<h3 class="text-center">معرفی</h3>
                <div class="custom-border">
				    {{ object.describe|safe }}
                </div>
			</div>
            <br>
            <div class="col-md-3 col-md-push-1 animate-box" >
                    <div class="staff">
                      <div class="staff-img" style="background-image: url({{ object.image.url }});">                      </div>
                      <h3 class="text-center">{{ object.name }}</h3>
                      <p>
                        <ul style="direction: rtl; float: right;" class="fh5co-social">
                            {% if object.telegram_username %}<li><a href="tg://resolve?domain={{ object.telegram_username }}"><i class="icon-telegram"></i></a></li>{% endif %}
                            {% if object.github_username %}<li><a href="https://github.com/{{ object.github_username }}"><i class="icon-github"></i></a></li>{% endif %}
                            {% if object.linkedin_username %}<li><a href="https://www.linkedin.com/in/{{ object.linkedin_username }}"><i class="icon-linkedin2"></i></a></li>{% endif %}
                            {% if object.email %}<li><a href="mailto:{{ object.email }}"><i class="icon-mail"></i></a></li>{% endif %}
                          </ul>
                      </p>
                    </div>
			</div>
		</div>
	</div>
</div>
{% endblock %}