{% extends 'base.html' %}
{% load static %}
{% for obj in object_list %}
<a href="{% url 'blog:blog_detail' obj.pk %}">{{ obj.title }}</a>
{% endfor %}

{% block body %}    
    <div id="fh5co-staff">
      <div class="container">
        <div class="row">
        {% for obj in object_list %}
          <div class="col-md-3 text-center">
            <div class="staff">
              <div class="staff-img" style="background-image: url({{ obj.image.url }});">
                <ul class="fh5co-social">
                  {% if obj.telegram_username %}<li><a href="tg://resolve?domain={{obj.telegram_username}}"><i class="icon-telegram"></i></a></li>{% endif %}
                  {% if obj.github_username %}<li><a href="https://github.com/{{obj.github_username}}"><i class="icon-github"></i></a></li>{% endif %}
                  {% if obj.linkedin_username %}<li><a href="https://www.linkedin.com/in/{{obj.linkedin_username}}"><i class="icon-linkedin2"></i></a></li>{% endif %}
                  {% if obj.email %}<li><a href="mailto:{{obj.email}}"><i class="icon-mail"></i></a></li>{% endif %}
                </ul>
              </div>
              <span>{{ obj.title }}</span>
              <h3><a href="{% url 'teacher:teacher' obj.pk %}">{{ obj.name }}</a></h3>
              <p>
                {{ obj.search }}
              </p>
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}