{% extends 'base.html' %}
{% load static %}


{% block meta_description %}{% endblock %}
{% block meta_keywords %} {% endblock %}
{% block titile %} کدنویسان {% endblock %}

{% block body %}	
	<div id="fh5co-course-categories">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
					<h2> به فارسی کدنویسان Code Crafters</h2>
					<div dir="rtl">
						<h1>به جامعه Code Crafters خوش آمدید!</h1>
					
						<p>
							Code Crafters یک جامعه از برنامه‌نویسان پرشور است که در زمینه‌های متعددی فعالیت می‌کنند و به بهبود مهارت‌های برنامه‌نویسی و اشتراک تجربیات می‌پردازند.
						</p>
					
						<p>
							در Code Crafters، ما به ارتقاء هنر کدنویسی و ارتباط با اعضا اهمیت می‌دهیم. از طریق این جامعه متنوع، می‌توانید با برنامه‌نویسان حرفه‌ای در حوزه‌های گوناگون ارتباط برقرار کنید و از دانش و تجربیات آنان بهره‌مند شوید.
						</p>
					
						<p>
							اعضای Code Crafters در زمینه‌های مختلفی مانند توسعه وب، هوش مصنوعی، اپلیکیشن‌های مختلف، داده‌کاوی، و غیره فعالیت می‌کنند. ما به اشتراک‌گذاری پروژه‌های مشترک، یادگیری مستمر و حل مشکلات برنامه‌نویسی متمرکز هستیم.
						</p>
					
						<p>
							اگر به دنبال یک جامعه پویا از برنامه‌نویسان هستید یا می‌خواهید تجربیات خود را با دیگران به اشتراک بگذارید، ما به شما خوشحالیم. همین حالا به ما بپیوندید و با ما در سفر هیجان‌انگیز Code Crafters شرکت کنید!
						</p>
					
						<p>
							<a href="{% url 'about:about' %}" class="btn btn-primary">عضویت در Code Crafters</a>
						</p>
					</div>
					
				</div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-umbrella"></i>
						</span>
						<div class="desc">
							<p>
								ما به ارتقاء مهارت‌های فنی، ایجاد ارتباطات مستدام و حل چالش‌های برنامه‌نویسی
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-heart4"></i>
						</span>
						<div class="desc">
							<p>
								  با اشتیاق به کدنویسی ارتقاء دانش فنی، یک محیط پویا برای تجربیات فنی
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-banknote"></i>
						</span>
						<div class="desc">
							<p>
							   شما می‌توانید به نمونه کارها و پروژه‌های متنوع اعضا دسترسی پیدا کنید 
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-photo"></i>
						</span>
						<div class="desc">
							<p>
								 از تجربیات هم‌ برنامه‌نویسان خود بهره‌مند شوید در تعامل با هم
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-home-outline"></i>
						</span>
						<div class="desc">
							<p>
							 جامعه فعّال از برنامه‌نویسان در حوزه‌های متعددی از توسعه نرم‌افزار  
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-world"></i>
						</span>
						<div class="desc">
							<p>
							  یک محیط پویا و انگیزشی برای توسعه حرفه‌ای خود و لذت از دنیای برنامه‌نویسی  
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-lab2"></i>
						</span>
						<div class="desc">
							<p>
								یک جرعه فراتر یک قطره بیشتر از روزمرگی 
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 text-center animate-box">
					<div class="services">
						<span class="icon">
							<i class="icon-bubble3"></i>
						</span>
						<div class="desc">
							<p>
								 در گفتگوها و تالارها شرکت کنید
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="fh5co-counter" class="fh5co-counters" style="background-image: url({% static 'images/img_bg_4.jpg' %});" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<div class="row">
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<span class="icon"><i class="icon-world"></i></span>
							<span class="fh5co-counter js-counter" data-from="0" data-to="3297" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">جامعه کدنویسان</span>
						</div>
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<span class="icon"><i class="icon-study"></i></span>
							<span class="fh5co-counter js-counter" data-from="0" data-to="3700" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">اشتراک یادگیری</span>
						</div>
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<span class="icon"><i class="icon-bulb"></i></span>
							<span class="fh5co-counter js-counter" data-from="0" data-to="5034" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">تبادل ایده</span>
						</div>
						<div class="col-md-3 col-sm-6 text-center animate-box">
							<span class="icon"><i class="icon-head"></i></span>
							<span class="fh5co-counter js-counter" data-from="0" data-to="1080" data-speed="5000" data-refresh-interval="50"></span>
							<span class="fh5co-counter-label">تشکل زیر گروهی</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

	