{% extends 'base.html' %}
{% load static %}

{% block meta_description %}
   {% for obj in object_list %}
      {{ obj.search }}
   {% endfor %}
{% endblock %}

{% block meta_keywords %} 
   {% for obj in object_list %}
      {{ obj.title }}
   {% endfor %}
{% endblock %}

{% block titile %} اخبار {% endblock %}

{% block body %}

<div id="fh5co-blog">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading" dir="rtl">
					<h1>به بخش اخبار Code Crafters خوش آمدید!</h1>
				
    				<p>
    				    ما در Code Crafters به اشتراک گذاری دیدگاه‌های جدید و به‌روز از دنیای فناوری را ترویج می‌کنیم. از اخبار تا تکنولوژی‌های نوظهور، بخش خبرهای ما به شما کمک می‌کند تا در جریان آخرین تحولات دنیای برنامه‌نویسی قرار بگیرید.
    				</p>
				
				</div>
			</div>                      
			<div class="row">
				{% for obj in object_list %}
					<div class="col-lg-4 col-md-4">
						<div class="fh5co-blog animate-box">
							<a href="{% url 'blog:blog' obj.id %}" class="blog-img-holder" style="background-image: url({{ obj.image.url }});"></a>
							<div class="blog-text text-center">
								<h3><a href="{% url 'blog:blog' obj.id %}">{{ obj.title }}</a></h3>
								<span class="posted_on">{{ obj.created|date:"Y-m-d" }}</span>
								<p>{{ obj.search }}</p>
							</div> 
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	
{% endblock %}

	