{% extends 'base.html' %}
{% load static %}
		
{% block meta_description %} {{ object.search }} {% endblock %}
{% block meta_keywords %} {{ object.title }} {% endblock %}
{% block title %} اخبار {% endblock %}

{% block body %}
<div id="fh5co-contact"  dir="rtl" lang="fa" style="unicode-bidi: embed;">
	<div class="container">
		<div class="row">
			<div class="col-md-7 animate-box">
				<h3 class="text-center">{{ object.title }}</h3>
                <div class="custom-border text-right">
				    {{ object.describe|safe }}
                </div>
			</div>
            <div class="col-md-3 col-md-push-1 animate-box" >
				<div class="fh5co-contact-info" >
					<h3 class="text-center">اخبار پیشنهادی</h3>
					<ul style="direction: rtl;">
						<li>198 West 21th Street, <br> Suite 721 New York NY 10016</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<!--
    <div id="fh5co-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 animate-box">
                    <h3 class="text-center">اخبار</h3>
                    <form action="">
                        {% csrf_token %}
                        <div class="row form-group">
                            <div class="col-md-12">
                                 <label for="fname">First Name</label> 
                                <input type="text" name="name" id="name" class="form-control text-right" placeholder="نام">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label for="message">Message</label> 
                                <textarea name="describe" id="message" cols="30" rows="10" class="form-control text-right" placeholder="موضوع"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <input  type="submit" value="ارسال پیام" class="btn btn-primary">
                        </div>
                    </form>		
                </div>
            </div>

        </div>
    </div>
-->

{% endblock %}