{% extends 'base.html' %}
{% load static %}


{% block meta_description %}
   {% for obj in object_list %}
      {{ obj.title }}
   {% endfor %}
{% endblock %}

{% block meta_keywords %} 
   {% for obj in object_list %}
      {{ obj.name }}
   {% endfor %}
{% endblock %}

{% block titile %} {{ object.title }} {% endblock %}

{% block body %}


<div id="fh5co-blog">
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					</span><h2>{{ object.name }}</h2>
                    <p>
                        {{ object.search }}
                    </p>
				</div>
			</div>            
         <div class="row">
			{% for obj in object_list %}
			<div class="col-md-4">
				<div class="panel panel-default text-center">
					<p>{{ obj.number }} جلسه</p>
					<div class="panel-body">
					  <a href="{% url 'topic:describe' obj.id %}">
						<h3>{{ obj.title }}</h3>
					  </a>
					  
					</div>
					  <p>{{ obj.created|date:'Y-m-d' }}</p>
					  <p>{{ obj.title }}</p>
				</div>
			</div>
		{% endfor %}
         </div>
		</div>
	</div>
	
{% endblock %}

	