{% extends 'base.html' %}
{% load static %}
		
{% block meta_description %} {{ object.search }} {% endblock %}
{% block meta_keywords %} {{ object.title }} {% endblock %}
{% block title %} {{ object.title }} {% endblock %}


{% block body %}
<div id="fh5co-contact" dir="rtl" lang="fa" style="unicode-bidi: embed;">
	<div class="container">
		<div class="row">
			<div class="col-md-8 animate-box">
				<h3 class="text-center">{{ object.title }}</h3>
                <div class="custom-border">
				    {{ object.describtion|safe }}
                </div>
			</div>
            <br>
            <div class="col-md-4 col-md-push-1 animate-box" >
				<div class="fh5co-contact-info" >
					<h3 class="text-center">لینک موضوعات</h3>
					<table class="table table-hover">
                        <thead>
                        {% for obj in object_list %}                                   
                            <tr>
                                <td scope="row">{{ forloop.counter }}</td>
                                <td>
                                    <a href="{% url 'topic:describe' obj.pk %}">
                                        {{ obj.title }}
                                    </a>
                                </td>
                            </tr>    
                        {% endfor %}
                        </thead>
                    </table>
				</div>
                <h3 class="text-center">نویسنده</h3>
                <div class="panel panel-default text-center">
                    <div class="panel-body">
                      <a href="{% url 'teacher:teacher' object.topic.author.id %}">
                        <img src="{{ object.topic.author.image.url }}" alt="Profile Picture" class="img-circle circle-container">
                        <h3>{{ object.topic.author.name }}</h3>
                      </a>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>
<div id="fh5co-blog">
    <div class="container">          
       <div class="row">
        <h3 class="text-center">موضوعات مشابه</h3>

        {% for obj in topics %}
          <div class="col-md-4">
            <div class="panel panel-default text-center">
              <div class="panel-body">
                <a href="{% url 'topic:topic' obj.id %}">
                <img src="{{ obj.image.url }}" alt="Profile Picture" class="img-circle circle-container">
                <h3>{{ obj.name }}</h3>
                </a>
              </div>
                <p>{{ obj.created|date:'Y-m-d' }}</p>
                <p>{{ obj.titl }}</p>
            </div>
          </div>
        {% endfor %}
      </div>        
    </div>
  </div>
<!--
    <div id="fh5co-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6 animate-box">
                    <h3 class="text-center">کامنت</h3>
                    <form action="">
                        {% csrf_token %}
                        <div class="row form-group">
                            <div class="col-md-12">
                                 <label for="fname">First Name</label> 
                                <input type="text" name="name" id="name" class="form-control text-right" placeholder="نام">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <label for="message">Message</label> 
                                <textarea name="describe" id="message" cols="30" rows="10" class="form-control text-right" placeholder="موضوع"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <input  type="submit" value="ارسال پیام" class="btn btn-primary">
                        </div>
                    </form>		
                </div>
            </div>

        </div>
    </div>
-->

{% endblock %}
